*{
  margin: 0;
}
body{
  background-image: url(https://www.estonianwildlifetours.com/wp-content/uploads/2012/04/Forest.jpg);
  background-size: cover;
  background-position: center;
}
header {
  background-color: aqua;
}

footer {
  background-color: bisque;
}
main{
  max-height: max-content;
  width: auto;
  max-width: 1000px;
  background-color: azure;
  font-size: 21px;
  inset: 0;
  padding: 40px;
  margin: 50px auto;
  box-shadow: 0 0 30px;
  line-height: 1.75;
}
.kylastatavad{
  box-shadow: 2px;
}
hr{
  border-radius: none;
  height: 2px;
  background-color: grey;
  margin: 20px 0;
}