* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://www.estonianwildlifetours.com/wp-content/uploads/2012/04/Forest.jpg);
  background-size: cover;
  background-position: center;
}
.hero {
  position: fixed;
  height: 70px;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0.1%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  padding: 20px;
  font-size: 28px;
}
.hero::before {
  position: absolute;
  inset: 0;
}
.navigation {
  position: relative;
  z-index: 2;

  padding: 0 40px;
}
.navigation a {
  color: black;
  text-decoration: none;
  margin-left: 25px;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 15%;
}
.navigation .nav-kontakt {
  background-color: #008236;
  color: white;
  display: inline-block;
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
main {
  max-height: max-content;
  width: auto;
  max-width: 1000px;
  background-color: azure;
  font-size: 21px;
  inset: 0;
  padding: 40px;
  margin: 50px auto;
  box-shadow: 0 0 30px;
  line-height: 1.75;
}
.kalender {
  width: 180px;
  padding: 15px;
  box-shadow: 0 0 10px 2px;
}
.kylastatavad {
  box-shadow: 2px;
}
hr {
  border-radius: none;
  height: 2px;
  background-color: grey;
  margin: 20px 0;
}
footer {
  text-align: center;
  padding: 20px;
  background: #444;
  color: #fff;
}
